
<div class="page-content p-5" id="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <span class="border border-secondary">
            <div class="card-header"><h3 style="text-align: center;color:darkslategray;">Manage Hotels</h3></div>
            <div class="card-body"><app-hotel></app-hotel></div>
          </span>
        </div>
      </div>  
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <span class="border border-secondary">
            <div class="card-header"><h3 style="text-align: center;color:darkslategray;">Hotel List</h3></div>
            <div class="card-body"><app-hotel-list></app-hotel-list></div>
          </span>
        </div>
      </div>
    </div>
</div>
<app-admin></app-admin>
