
<div class="page-content p-5" id="content">
    <h3 style="text-align: center;color:darkslategray;">User Detail</h3>
  <table class="table table-hover">
    <thead>
        <tr>
            <td>Name of the Hotel</td>
            <td>Check In Date</td>
            <td>Check Out Date</td>
            <td>Number of Guests</td>
            <td>Number of Rooms</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of bookingDetail">
            <td>{{x.hotelName}}</td>
            <td>{{x.check_in_date}}</td>
            <td>{{x.check_out_date}}</td>
            <td>{{x.number_of_guest}}</td>
            <td>{{x.number_of_rooms}}</td>
        </tr> 
    </tbody>
  </table>
</div>
<app-user></app-user>




