<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBEOmmveijHzDg_3pCs_obIt15vPh0g07gG2F0qNDhzDAp3f2i" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">e-Hotel</h4>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">eHotel- Book Your Hotel</p>

  <ul class="nav flex-column bg-white mb-0">
    <!-- <li class="nav-item">
      <a routerLink="/user" class="nav-link text-dark font-weight-bolder bg-light">
        User
      </a>
      <br>
    </li> -->
    <li class="nav-item">
      <a routerLink="/user/userPortal" class="nav-link text-dark font-weight-bold bg-light">
        Portal
      </a>
      <br>
    </li>

    <li class="nav-item">
      <a routerLink="/user/userProfile" class="nav-link text-dark font-weight-bold bg-light">
        Profile
      </a>
      <br>
    </li>
    <li class="nav-item">
      <a routerLink="/user/booking-details" class="nav-link text-dark font-weight-bold bg-light">
        Booking Details
      </a>
      <br>
    </li>
  </ul>
  <li class="nav-item">
    <a routerLink="" class="nav-link text-dark font-weight-bold bg-light">
    LogOut &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
  </li>
</div>

<div class="page-content p-5" id="content">
</div>
